C02TN1U2GTDX:www-app vmanpuria$ cat ../www/returns.html
<hr />
<span class="s1"><b>Claims and Returns Policy of http://www.buycontactlenssolutions.com</b></span>

<p class="p3"><span class="s1">We accept refunds and exchanges.</span></p>

<p class="p2"><span class="s1"><b>Claims and Returns</b></span></p>

<p class="p3"><span class="s1">Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we
    can not offer you a refund or exchange. </span></p>

<p class="p3"><span class="s1">To be eligible for a return, your item must be unused and in the same condition that you
    received it. It must also be in the original packaging. </span></p>

<p class="p3"><span class="s1">To complete your return, we require a receipt or proof of purchase. </span></p>

<p class="p3"><span class="s1">There are certain situations where only partial refunds are granted:</span></p>

<ol class="ol2">
  <li class="li3"><span class="s1">Product with obvious signs of use</span></li>
  <li class="li3"><span class="s1">Any item not in its original condition, is damaged or missing parts for reasons not
      due to our error.</span></li>
  <li class="li3"><span class="s1">Any item that is returned more than 30 days after delivery</span></li>
</ol>

<p class="p2"><span class="s1"><b>Refunds</b></span></p>

<p class="p3"><span class="s1">Once your return is received and inspected, we will send you an email to notify you that
    we have received your returned item. We will also notify you of the approval or rejection of your refund.</span></p>

<p class="p3"><span class="s1">If you are approved, then your refund will be processed, and a credit will automatically
    be applied to your credit card or original method of payment, within 2 business days. </span></p>

<p class="p2"><span class="s1"><b>Late or missing refunds</b></span></p>

<p class="p3"><span class="s1">If you have not received a refund yet, first check your bank account again. </span></p>
<p class="p3"><span class="s1">Then contact your credit card company, it may take some time before your refund is
    officially posted.</span></p>
<p class="p3"><span class="s1">Next contact your bank. There is often some processing time before a refund is
    posted.</span></p>
<p class="p3"><span class="s1">If you have done all of this and you still have not received your refund yet, please
    contact us at info@buycontactlenssolutions.com.</span></p>

<p class="p2"><span class="s1"><b>Sale items</b></span></p>

<p class="p3"><span class="s1">Only regular priced items may be refunded, unfortunately sale items cannot be
    refunded.</span></p>

<p class="p2"><span class="s1"><b>Exchanges</b></span></p>

<p class="p3"><span class="s1">We only replace items if they are defective or damaged. If you need to exchange it for
    the same item, send us an email at info@buycontactlenssolutions.com and send your item to:
    buycontactlenssolutions.com (attn. Returns) 1073 Pine St, Livermore, CA 94551 United States.</span></p>

<p class="p2"><span class="s1"><b>Gifts</b></span></p>

<p class="p3"><span class="s1">If the item was marked as a gift when purchased and shipped directly to you, you will
    receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be
    mailed to you.</span></p>

<p class="p3"><span class="s1">If the item was not marked as a gift when purchased, or the gift giver had the order
    shipped to themselves to give to you later, we will send a refund to the gift giver and unfortunately, they will
    find out about your return. </span></p>

<p class="p2"><span class="s1"><b>Shipping</b></span></p>

<p class="p3"><span class="s1">To return your product, you should mail your product to: buycontactlenssolutions.com
    (attn. Returns) 1073 Pine St, Livermore, CA 94551 United States.</span></p>

<p class="p3"><span class="s1">You will be responsible for paying for your own shipping costs for returning your item.
    Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your
    refund. </span></p>

<p class="p3"><span class="s1">Depending on where you live, the time it may take for your exchanged product to reach
    you, may vary.</span></p>

<p class="p3"><span class="s1">If you are shipping item(s) over $75, you should consider using a trackable shipping
    service or purchasing shipping insurance. We can not guarantee that we will receive your returned item.</span></p>